body {
    background-image: none;
    background-color: #EBEBEB;
}

.container {
    display: flex;
    justify-content: space-between;
}

.myStory {
    width: 40%;
}

.myStory h1 {
    margin: 60px 0 60px 0;
    padding: 30px 0 30px 90px;
    text-decoration: none;
    color: white;
    background-color: #E1A153;
    border-radius: 0 20px 20px 0;
}

.myStory p {
    margin: 15px 0 15px 70px;
    font-size: 1.1em;
    line-height: 150%;
    text-align: justify;
}

.picture {
    z-index: -1;
    filter: grayscale(1);
}