body {
    background-image: none;
    background-color: #EBEBEB;
}

.container {
    display: flex;
    justify-content: space-between;
}

.mycv {
    width: 40%;
}

.mycv h1 {
    margin: 60px 0 60px 0;
    padding: 30px 0 30px 90px;
    text-decoration: none;
    color: white;
    background-color: #E1A153;
    border-radius: 0 20px 20px 0;
}

.mycv p {
    margin: 15px 0 15px 70px;
    font-size: 1.1em;
    line-height: 150%;
    text-align: justify;
}

.buttons a {
    display: flex;
    font-size: 30px;
    height: 100px;
    margin: 60px;
    width: 350px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.buttons a:hover {
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

#cvButton {
    border: 2px dotted #E1A153;
    color: #E1A153;
    background-color: rgb(255, 255, 255);
}

.picture {
    z-index: -1;
    filter: grayscale(1);
}