body {
  background-image: none;
  background-color: #EBEBEB;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.myForm {
    width: 40%;
    padding: 1em;
    border: 1px solid #E1A153;
    border-radius: 1em;
}

h1 {
  color: #E1A153;
  margin: 50px 0 25px 50px;
}

.myForm div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #E1A153;
}

textarea {
  vertical-align: top;
    height: 5em;
}

.warning {
  color: rgb(238, 17, 17);
}

.buttons {
  padding-left: 90px; /* même taille que les étiquettes */
  margin-bottom: 50px;
}

button {
  margin-left: .5em;
  padding: 4px;
}

#video {
  width: 50%;
  margin-left: 50px;
}

#video video {
  width: 100%;
  border-radius: 20px;
}

#icons {
  width: 50%;
  margin: 30px 0 0 50px;
}

#iconsItems {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

#iconsItems a:hover {
  opacity: 0.5;
}