#gallery {
  width: 948px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #E1A153;
  }

#galleryMotion {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: space-between;
}

#galleryMotion li {
  padding: 0;
  margin: 0;
  margin:5px 0 20px;
}

#galleryMotion li a img {
  display: block;
  border: none;
}

#galleryMotion li a {
  
  height: 100%;
  display: block;
}

#galleryMotion li a:hover {
  opacity: 0.5;
}

#fullPicture {
  width: 948px;
  height: 948px;
  overflow: hidden;
  float: left;
}

#fullPicture img {
  width:100%;
}